.topnav {
  overflow: hidden;
  background-color: #4d4d4d;
  height: 70px;
}
.topnav a {
  color: #e6e6e6;
  margin-left: 60px;
  /*padding: 14px 16px;*/
  text-decoration: none;
  /*font-size: 17px;*/
  margin-top: 15px;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  /*margin-right: 1rem;*/
  font-size: 1.75rem;
  line-height: inherit;
  white-space: nowrap;
}
.topnav a:hover {
  color: white;
}
.btn-p{
  font-size: 1.20rem;
  float: right;
  margin-right: 25px;
  margin-top: 15px;
}
.head{
  font-weight: 1000;
}
/*hexagon-section*/
.inne{
  margin-top: -25px;
}
.thick{
  margin-top: 10px;
}
.thick, .thick1{
  line-height: 1.2em;
  font-weight: 1000;
  font-size: 1.2em;
}
.thick1{
  margin-top: 20px;
}
.thick:hover, .thick1:hover{
   color: #000033;
}
.hexagon{
  width: 200px;
  height: 110px;
  position: relative;
  margin-left: 300px;
}
.hexagonimg, .hexagonimg1{
  margin-top: -14px;
  position: relative;
}
.hexagonimg{
  width: 180px;
  height: 100px;
}
.hexagonimg1{
  width: 160px;
  height: 90px;
}
.hexagonimg:hover{
  height: 103px;
}
.hexagonimg1:hover{
  height: 93px;
}
.features{
  margin-left: -290px;
  padding: 35px;
}
.hexagon, 
.hexagon:before, 
.hexagon:after {
  /*background: #f2f2f2;*/
  /*box-shadow: 0 0 10px rgba(0,0,0,0.8);   */
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  left: 44px;
  width: 114px;
  height: 114px;
  transform: rotate(145deg) skew(22.5deg);
}

.hexagon:before {
  top: -58px;
}

.hexagon:after {
  top: 54px;
}

.hexagon span {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 110px;
  /*background: #f2f2f2;*/
  z-index: 1;
}
/*hexagon-color*/
/*yellow*/
.h-c1,.h-c1:before, 
.h-c1:after{
  background: #ffffe6;
  box-shadow: 0 0 10px rgba(77,77,0,0.8);
}
.h-c1 span {
    background: #ffffe6;
}
/*blue*/
.h-c2,.h-c2:before, 
.h-c2:after{
  background: #e6f2ff;
  box-shadow: 0 0 10px rgba(0,38,77,0.8);
}
.h-c2 span {
    background: #e6f2ff;
}
/*orange*/
.h-c3,.h-c3:before, 
.h-c3:after{
  background: #fff0e6;
  box-shadow: 0 0 10px rgba(77,31,0,0.8);
}
.h-c3 span {
    background: #fff0e6;
}
/*red*/
.h-c4,.h-c4:before, 
.h-c4:after{
  background: #ffe6e6;
  box-shadow: 0 0 10px rgba(77,0,0,0.8);
}
.h-c4 span {
    background: #ffe6e6;
}
/*skin*/
.h-c5,.h-c5:before, 
.h-c5:after{
  background: #ebfaeb;
  box-shadow: 0 0 10px rgba(15,61,15,0.8);
}
.h-c5 span {
    background: #ebfaeb;
}
/*banner*/
.wrapp-banner{
  background: #d9d9d9;
  height: 1350px;
}
.box-banner{
  
  margin: auto;
  width: 1000px;
  height: 1300px;
}
.in-banner{
  margin: auto;
  width: 800px;
}
/*features*/
.features-section{
  background: #4d4d4d;
  height: 490px;
}
.features-box{
  margin-top: 20px;
  display: block;
  background: white;
  border: 3px solid black;
  box-shadow: 0 0 10px rgb(255,255,255,0.8);
  margin: auto;
  width: 40%;
  padding: 40px;
  height: 80%;
  /*height: 1300px;*/
}
/*.features-section{
      position:fixed;
      top:0;
      left:0;
      width:1000px;
      height:500px;
      background: #4d4d4d;
}
.features-section .features-box{
      width: 40%;
      height: 80%;
      top: 10%;
      margin: 0 auto;
      position: relative;
      background: #e6ffff;
      border: 3px solid black;
      box-shadow: 0 0 10px rgb(255,255,255,0.8);
}*/
.bottem-foot{
  overflow: hidden;
  background-color: #4d4d4d;
  height: 70px;
}
.bottem-foot a {
  color: #e6e6e6;
  margin-left: 60px;
  /*padding: 14px 16px;*/
  text-decoration: none;
  /*font-size: 17px;*/
  margin-top: 15px;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  /*margin-right: 1rem;*/
  font-size: 1.75rem;
  line-height: inherit;
  white-space: nowrap;
}
.wrapper-footer{
    padding: 6em 0 4em 0;
    position: relative;
    background: #fdfdfd;
}
.wrapper-footer.style1 {
      background-color: #f7f7f7;
      color: #444;
}
.wrapper-footer > .inner {
      margin: 0 auto;
      width: 65em;
    }

      .wrapper-footer > .inner.narrow {
        width: 35em;
      }
